body {
  background: #252729!important;
  color: red !important;
  text-shadow: 0px 0px 20px rgb(246, 69, 69);
}

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shower_time {
  font-size: 180px;
  letter-spacing: 30px;
}